POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable
HTTP_ADDR=
HTTP_PORT=
SHUTDOWN_TIMEOUT=
STOP_GRACE_PERIOD=
CONNECT_TIMEOUT=
TOKEN_TTL=
JWT_SECRET=
FRONTEND_PORT=
BACKEND_URL=
